#section-1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 5em 6em;
    gap: 4em;
    text-align: center;
}

/* Image */
#section-1 img {
    max-width: 50%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

.column-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.8em;
    text-align: left;
    color: #12609d;
}

/* Button */
#section-1 .btn-1 {
    background: #fad02c;
    color: white;
    font-size: 1.1rem;
    padding: 0.4em 1.2em;
    text-decoration: none;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    align-self: flex-start;
}

#section-1 .btn-1:hover {
    background: #e8bb0a;
    transform: scale(1.05);
}

#section-1 .btn-2 {
    background: #cc50bd;
    color: white;
    font-size: 1.1rem;
    padding: 0.4em 1.2em;
    text-decoration: none;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    align-self: flex-start;
}

#section-1 .btn-2:hover {
    background: #b346a7;
    transform: scale(1.05);
}

/* Responsive Design */
@media (max-width: 900px) {
    #section-1   {
        flex-direction: column;
        text-align: center;
        padding: 2em 2em;
        gap: 2.2em;
    }

    #section-1 .column-1 {
        text-align: center;
    }

    #section-1 .btn-1 {
    align-self: center;
}

    #section-1 .btn-2 {
    align-self: center;
}

    #section-1 img {
        max-width: 80%;
        aspect-ratio: 16 / 9;
    }
}

#section-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5em 6em;
    gap: 4em;
    text-align: center;
    color: white;
    background-color: #12609d;
}

#section-2 .columns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1.7em;
}

#section-2 .column {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5em;
    min-width: 100px;
    max-width: 20%;
    background: white;
    color: #12609d;
    padding: 1.7em;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: justify;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    flex: 1;
    font-size: 0.9em;

}

#section-2 .column p {
    background: linear-gradient(170deg, #0b385e, #4f94cd); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    hyphens: auto;
}

.jobsun-video {
    width: 100%;
    max-width: 320px;
    aspect-ratio: 9 / 16;
    border-radius: 10px;
    object-fit: cover;
}

@media (max-width: 900px) {

    #section-2 {
        padding: 2em 2em;
        gap: 2.5em;
    }

    #section-2 .columns {
        flex-direction: column;
        align-items: center;
        gap: 1.5em;
        width: 100%;
    }

    #section-2 .column {
        max-width: 520px; 
        width: 100%;
        padding: 1.3em;
        font-size: 0.95em;
        text-align: left;
    }

    .video-wrapper {
        width: 200px;
    }
}
